*{
    --color-line:rgba(0, 0, 0, 0.129);
    --color-main: #000000;
    --color-highlight:#ffcc01; 
    --color-gray:#919eb1;
    --color-white:#ffffff;
    --font-title: -apple-system, BlinkMacSystemFont, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-text: "Roboto", sans-serif;
    --fs-h2:40px;
    --lh-h2:50px;
    --fs-text-body:13px;
    --lh-text-body:30px;

    --bg-one:#ffffff;
    --bg-two:#f6f5f4;
    

    --bg-demo1:hsl(40, 100%, 92%);
    --bg-demo2:#ffdc9f;
    --pick-bg1:#ffffff;
    --pick-bg2:#f6f5f4;

    --container-witdh:1140px;

    --max-width-container:1140px;
    --padding-container: calc((100vw - var(--max-width-container) - 15px ) / 2);
    
    
}

/* .--heading-h2{
    font-family: Mb;
    font-size: var(--fs-h2);
    line-height: var(--lh-h2);
    letter-spacing: -0.4;
    color: var(--color-main);
}

.--font-text{
    font-family: Mr;
    font-size: var(--fs-text-body);
    line-height: var(--lh-text-body);
    letter-spacing: -0.4px;
    color: #1f373d;
} */
